# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/_.env
client/public/_back.png
client/src/components/_CalendarEventSources.ts
server/_googleOauth2Keys.json
server/refreshKeys.json
